/* Some dodgy CSS for now */

:where(html) {
    --min-map-width: 65%;
    --sidebar-width: 17rem;
    --padding: .5rem;
    --top: 20vh;
}

#map {
    top: var(--top); 
    height: 80vh; 
    
}

#map h2 {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 0;
}

#map .popupinfo {
    padding: 0 2.5rem 0 0;
    min-width: 11rem ;/* stop label text overflow */
}

/*
#map .popupinfo * {
    outline: 1px solid red;
}
*/


/*
#map .site-fest-popup , .mapboxgl-popup * {
    outline: 1px solid green;
}
*/

/* POPUPS */
.mapboxgl-popup-content {
    color: #454545;
    background-color: whitesmoke;
    max-width: 15rem;
}


.mapboxgl-popup-close-button {
    /* new */
   
    
    
    
  
   font-weight: bold; 
   
    

}

.mapboxgl-popup-close-button:hover,
.dark-mode .mapboxgl-popup-close-button:hover {
    background-color: inherit;
}

.dark-mode .mapboxgl-popup-close-button {
    
    color: whitesmoke;
}

#map .slides-map-label {
    position: absolute;
	text-align: right;
	font-family: tatethin,sans-serif;
	font-style: italic;
	bottom: 2%;
	width: 30%;
	font-size: 1vw;
    
    
}
@media only screen and (min-width: 2160px) {
    #map .slides-map-label { 
        font-size: 0.47vw;
    }
}
@media only screen and (max-width: 1200px) { 
    #map .slides-map-label {
        font-size: 1.25vw;
    }
}

/*
#map .mapStatusLabel {

}
*/

#map .checkbox-label {
    position: relative;
    cursor: pointer;
    all:unset;
    position: absolute;
    right: 2rem;
    
}

#map .checkbox-label input[type="checkbox"] {
    display: none;
}

#map .checkbox-label input[type="checkbox"]:checked {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    transform: 0; /* new */
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 1.2vw;
    line-height: 1;
    
  }


  @media only screen and (max-width: 1200px) { 
    #map .checkbox-label input[type="checkbox"]:checked + .custom-checkbox::before {
    top: 50%;
    left: 37%;
    font-size: 2vw;
    all:unset
  }
}

  @media only screen and (min-width: 2160px) {
        #map .checkbox-label input[type="checkbox"]:checked + .custom-checkbox::before {
            top: 55%;
            left: 35%;
            font-size: 0.75vw;
            
          }
  }

#map .custom-checkbox {
    top: -40%;
    left: 1vw;
    top: -.1rem; /* new */
    left: -.4rem; /* new */
    width: 2.25vw;
    height: 2.25vw;
    width: 2rem;
    height: 2rem;
    border-radius: 3px
}

/*
#map .custom-checkmark {
    
}
*/


#map .custom-checkmark.checked {
    transform: translate(-55%, -45%);
     font-size: 1.5rem;
    margin-left: .2rem;
}

/* not in slides */
/*
#checkbox {
  
}


#map .checkbox {
}

.site-fest-popup {
    
}
*/

/* delete from literals */

#map .map-label-middle {
    all: unset;
    font-size: 1rem;
    font-weight: bold;  
}

/*
.popupinfo span {
    
}
*/


@media only screen and (max-width: 1200px) {
    #map {
        height: 90vh;
    } 
}


    .mapboxgl-popup-content {
        color: #454545;
        background-color: whitesmoke;
       /* margin-right: 0; */
       /* padding: 0;  */
       /* font-size: 1rem; */
        
       /* border: none;
        box-shadow: none */
    }
    
  /*  .mapboxgl-popup-tip {
        display: none;
    } */
    
    .dark-mode .mapboxgl-popup-content {
        color: white;
        background-color: #333D3D;
    }

.mapbox-gl-popup {
  
}

/* Search Box */

.mapboxgl-ctrl-geocoder input::placeholder {
    color: #000;
    opacity: 0.8;
  }

.dark-mode .mapboxgl-ctrl-geocoder input::placeholder {
    color: #fff;
    opacity: 0.8;
}

.mapboxgl-ctrl-geocoder input {
    padding-left: 5ch !important;
}

/*
.mapboxgl-ctrl-geocoder--input {
    padding-left: 5ch !important;
}
*/

.dark-mode .mapboxgl-ctrl-geocoder input {
    background-color: #333;
    color: #fff;
   
}

.dark-mode .suggestions  {
    background-color: #333 !important;
    color: #fff;
}

/*
.dark-mode .mapboxgl-ctrl-geocoder--suggestion {
    background-color: #333 !important;
    color: #fff;
}
*/

.dark-mode .suggestions-wrapper * {
    background-color: #333 !important;
    color: #fff;
}
  
.dark-mode .mapboxgl-ctrl-geocoder--icon-close {
    background-color: #333 !important;
    color: #fff;
}

.dark-mode .mapboxgl-ctrl-geocoder--icon-close:hover {
    background-color: #666 !important;
}

.dark-mode .mapboxgl-ctrl-geocoder--button {
    background-color: #333 !important;
    color: #fff;
}

.dark-mode .mapboxgl-ctrl-geocoder--icon,
.dark-mode .mapboxgl-ctrl-geocoder--icon:hover {
    fill: lightgrey !important;
}

/* remove A B coords directions */
div.mapbox-directions-component-keyline:nth-child(1) {
    display: none;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
    clear:none !important; 
}

.dark-mode .mapboxgl-ctrl-top-left .mapboxgl-ctrl-group,
.dark-mode .mapbox-directions-profile,
.dark-mode .mapbox-directions-profile label {
    background-color: #333;
    color: #fefefe ;
}

.dark-mode .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
    background-image:url('/geo-icon.svg') !important;
}

.dark-mode .mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon  {
    background-image:url('/geo-icon-minus.svg');
}

.dark-mode .mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
    background-image:url('/geo-locate-icon.svg');
}

.mapbox-directions-profile label {
    width: 33%;
}

.mapbox-directions-profile {
    margin: 0 ;
}

.mapbox-directions-component {
    position: absolute;
}

.mapbox-directions-profile > label:nth-child(2),
#mapbox-directions-profile-driving {
    display: none;
}
