:where(html) {
    --min-map-width: 65%;
    --sidebar-width: 17rem;
    --padding: .5rem;
    --top: 20vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    position: relative;
    top: var(--top); 
    color: #454545;
    background-color: whitesmoke;
    flex-basis: var(--sidebar-width);
    min-height: calc(var(--sidebar-width) / 1.5);
    flex-grow: 1;
}

/* temp for demo */
.sidebar p {
    font-size: 1.1rem;
    font-family: arial;
    padding: var(--padding);
}

.dark-mode .sidebar {
    color: whitesmoke; 
    background-color: #333D3D;
}

.sidebar.div {
    max-width: 0 !important; /* override mapbox inline */
}
@media only screen and (max-width: 1200px) { 
    .sidebar {
        z-index: 1;
    }
}
  
.map-container {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--min-map-width);
}

#map {
    top: var(--top); 
    height: 80vh; 
}

@media only screen and (max-width: 1200px) {
    #map {
        height: 90vh;
    } 
}

div.sitefest-popup {
    font-family: arial; /* delete */
    transform: none !important;
    
    padding-left: var(--padding); /* delete */
}

.dark-mode .mapboxgl-popup-content {
    color: white;
    background-color: #333D3D;
}

/*
.mapboxgl-popup {
  
}
*/

.mapboxgl-popup-content {
    color: #454545;
    background-color: whitesmoke;
    margin: 0;
    padding: 0; 
    font-size: 1rem;
    max-width: calc(var(--sidebar-width) - var(--padding));
    border: none;
    box-shadow: none
}

.mapboxgl-popup-tip {
    display: none;
}